.navbar {
    font-weight: bold;
}

.border p {
    margin-bottom: 0;
}

.staffinfo{
    margin: 15px;
    display: none;
}

#dropdownmenu{
    display: none;
}

@media screen and (min-width: 768px) {
    #dropdownmenu{
        display: block;
        margin-bottom: 15px;
    }
}